Source: django-andsome
Section: python
Priority: optional
Maintainer: Sam Morrison
Build-Depends: debhelper (>=7.0.0), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.8.3.0

Package: django-andsome
Architecture: all
Homepage: http://code.arcs.org.au/gitorious/django/django-andsome/
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.2.1), python-pygooglechart (>= 0.2)
Description: Extra bits for Django.
 Extra bits for Django.
